kind: Service
apiVersion: v1
metadata:
  name: ${SERVICE_NAME}-ingress
  namespace: default
  labels:
    app: ${SERVICE_NAME}
spec:
  externalTrafficPolicy: Local
  type: LoadBalancer
  selector:
    app: ${SERVICE_NAME}
  ports:
  - name: http
    port: 8088
    targetPort: 8080